// :root{
//     --color-pink: #F3C;
// } 

$primary-font: 'Open Sans', sans-serif; // weights 400 700
$secondary-font: 'Quicksand', sans-serif; // weights 400 700
$case-study: 'Maven Pro', sans-serif;
$primary-font-cloud: 'Nunito', sans-serif;

$secondary-color:#1F3445;
$secondary-background-color: #F6F7F9;
$primary-blue: #3CECEC;
$primary-violet: #9942B7;

$primary-text-color: #4A4E57;
$heading-color: #000;
$footer-text-color: #4A5D6E;
$tooltip-text-color: #748390;

$blog-font-desc: 'Merriweather', serif;
$blog-font-head: 'Nunito Sans', sans-serif;