.ScrollButton{
    position:fixed;
    bottom:64px;
    right:16px;
    margin-right:2rem;
    margin-bottom:2rem;
    display: none;
    background-color:#666;
    padding:1rem;
    border-radius:3px;
    opacity: 0.8;
    cursor:pointer;
    box-shadow: 2px 2px 8px rgba($color: #000000, $alpha: 0.5);
    border: 2px solid #666;
    transition: all 0.5s ease;
    z-index: 15;
    &:hover{
        background-color: #fafafa;
        svg{
            fill: #666;
        }
    }
    svg{
        width:20px;
        height:20px;
        fill:#fafafa;
        transition: fill 0.5s ease-in;
    }
}
