.Container{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    // width: 100%;
    @media (min-width: 1200px){
        max-width: 1200px;
    }
    @media (min-width: 1440px){
        max-width: 1340px;
    }
    @media (max-width: 80em){
    }

    // @media (max-width:1200px){
    //     padding-left: 15px;

    // }  
}